# County Education Levels for Data Storytelling

In [1]:
import pandas as pd

## Read and View
Source: [USDA, Economic Research Service](https://www.ers.usda.gov/data-products/county-level-data-sets/download-data/)

In [2]:
raw = pd.read_csv('data/Education.csv')
print(raw.shape)
raw.head()

(3283, 47)

,FIPS Code,State,Area name,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970",...,"Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
0,0,US,United States,NaN,NaN,NaN,NaN,"52,373,312","34,158,051","11,650,730",...,27.4,24.4,"26,472,261","59,472,748","63,756,905","70,920,162",12.0,27.0,28.9,32.1
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,"1,062,306","468,269","136,287",...,25.9,19.0,"458,922","1,022,839","993,344","845,772",13.8,30.8,29.9,25.5
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,"6,611","3,757",933,...,26.9,18.0,"4,291","12,551","10,596","9,929",11.5,33.6,28.4,26.6
3,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,"18,726","8,426","2,334",...,29.3,23.1,"13,893","41,797","47,274","48,148",9.2,27.7,31.3,31.9
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,"8,120","2,242",581,...,21.3,10.9,"4,812","6,396","4,676","2,080",26.8,35.6,26.0,11.6

In [3]:
raw['FIPS Code'].dtype

dtype('int64')

In [4]:
int("1,234".replace(",", ""))

1234

In [5]:
raw.columns.tolist()

['FIPS Code',
 'State',
 'Area name',
 '2003 Rural-urban Continuum Code',
 '2003 Urban Influence Code',
 '2013 Rural-urban Continuum Code',
 '2013 Urban Influence Code',
 'Less than a high school diploma, 1970',
 'High school diploma only, 1970',
 'Some college (1-3 years), 1970',
 'Four years of college or higher, 1970',
 'Percent of adults with less than a high school diploma, 1970',
 'Percent of adults with a high school diploma only, 1970',
 'Percent of adults completing some college (1-3 years), 1970',
 'Percent of adults completing four years of college or higher, 1970',
 'Less than a high school diploma, 1980',
 'High school diploma only, 1980',
 'Some college (1-3 years), 1980',
 'Four years of college or higher, 1980',
 'Percent of adults with less than a high school diploma, 1980',
 'Percent of adults with a high school diploma only, 1980',
 'Percent of adults completing some college (1-3 years), 1980',
 'Percent of adults completing four years of college or higher, 1980',
 'Less than a high school diploma, 1990',
 'High school diploma only, 1990',
 "Some college or associate's degree, 1990",
 "Bachelor's degree or higher, 1990",
 'Percent of adults with less than a high school diploma, 1990',
 'Percent of adults with a high school diploma only, 1990',
 "Percent of adults completing some college or associate's degree, 1990",
 "Percent of adults with a bachelor's degree or higher, 1990",
 'Less than a high school diploma, 2000',
 'High school diploma only, 2000',
 "Some college or associate's degree, 2000",
 "Bachelor's degree or higher, 2000",
 'Percent of adults with less than a high school diploma, 2000',
 'Percent of adults with a high school diploma only, 2000',
 "Percent of adults completing some college or associate's degree, 2000",
 "Percent of adults with a bachelor's degree or higher, 2000",
 'Less than a high school diploma, 2015-19',
 'High school diploma only, 2015-19',
 "Some college or associate's degree, 2015-19",
 "Bachelor's degree or higher, 2015-19",
 'Percent of adults with less than a high school diploma, 2015-19',
 'Percent of adults with a high school diploma only, 2015-19',
 "Percent of adults completing some college or associate's degree, 2015-19",
 "Percent of adults with a bachelor's degree or higher, 2015-19"]

## Exploration

In [6]:
raw[['State', 'Percent of adults completing four years of college or higher, 1970',"Percent of adults with a bachelor's degree or higher, 2015-19"]].groupby("State").mean()

,"Percent of adults completing four years of college or higher, 1970","Percent of adults with a bachelor's degree or higher, 2015-19"
State,,
AK,10.900000,23.260000
AL,5.894118,18.161765
AR,5.034211,16.602632
AZ,9.913333,20.912500
CA,10.750847,27.403390
CO,10.793750,32.060000
CT,12.877778,37.477778
DC,17.800000,58.500000
DE,11.150000,30.050000
FL,7.904412,22.523529
GA,5.579375,18.708750
HI,10.420000,29.666667
IA,7.275000,22.018000
ID,8.648889,21.762222
IL,6.841748,21.638835
IN,6.483871,19.941935
KS,8.785849,23.346226
KY,5.109917,16.609091
LA,6.466154,17.367692
MA,12.166667,41.980000
MD,9.888000,32.940000
ME,7.676471,28.205882
MI,7.384524,22.419048
MN,7.284091,24.098864
MO,5.868966,18.906897
MS,6.472289,17.563855
MT,8.696552,25.054386
NC,6.404950,22.370297
ND,5.814815,23.166667
NE,6.537234,22.822340
NH,10.490909,34.072727
NJ,10.809091,37.490909
NM,9.881818,21.282353
NV,9.350000,18.688889
NY,10.268254,28.503175
OH,6.643820,20.649438
OK,7.352564,19.535897
OR,9.867568,24.467568
PA,7.119118,23.722059
PR,NaN,21.762025
RI,11.583333,39.950000
SC,7.514894,20.940426
SD,6.928358,23.389552
TN,4.778125,17.632292
TX,7.332157,19.098039
US,10.700000,32.100000
UT,10.856667,26.500000
VA,8.282707,27.091045
VT,10.206667,34.126667
WA,10.147500,27.197500
WI,7.245205,23.712329
WV,5.503571,16.810714
WY,10.470833,25.970833

In [7]:
raw[['State', 'Percent of adults with less than a high school diploma, 1970','Percent of adults with less than a high school diploma, 2015-19']].groupby("State").mean()

,"Percent of adults with less than a high school diploma, 1970","Percent of adults with less than a high school diploma, 2015-19"
State,,
AK,49.026923,9.523333
AL,65.158824,17.180882
AR,65.972368,15.527632
AZ,49.293333,15.356250
CA,41.288136,15.335593
CO,43.346875,8.835385
CT,45.055556,8.522222
DC,44.800000,9.100000
DE,48.125000,10.725000
FL,55.629412,14.352941
GA,70.881875,17.497500
HI,47.520000,8.166667
IA,43.853000,8.352000
ID,43.148889,11.888889
IL,51.677670,10.249515
IN,49.154839,11.818280
KS,43.462264,10.073585
KY,69.100000,17.871074
LA,64.696923,17.884615
MA,40.680000,8.400000
MD,55.412000,10.008000
ME,46.223529,8.017647
MI,49.820238,9.353571
MN,51.346591,7.806818
MO,57.205172,13.339655
MS,64.338554,18.896386
MT,43.927586,8.061404
NC,66.790099,14.834653
ND,56.024074,9.298148
NE,45.663830,8.238298
NH,43.181818,7.372727
NJ,48.140909,9.981818
NM,52.766667,15.602941
NV,40.355556,12.005556
NY,46.428571,10.900000
OH,48.855056,10.970787
OK,56.048718,13.867949
OR,42.510811,10.697297
PA,50.116176,10.100000
PR,NaN,26.284810
RI,48.916667,8.900000
SC,67.255319,15.802128
SD,51.356716,10.013433
TN,68.510417,16.356250
TX,61.196471,19.142353
US,47.700000,12.000000
UT,37.060000,8.130000
VA,61.839098,13.281343
VT,46.026667,8.100000
WA,40.732500,10.880000
WI,50.449315,8.116438
WV,63.251786,14.853571
WY,38.883333,7.141667

## Subset for Initial Dataviz
* Columns: "FIPS Code", "State", "Area name", 'Percent of adults with less than a high school diploma, 1970'. "Percent of adults with less than a high school diploma, 2015-19"
* Rename: "fips", "state", "county", "perc_no_hs_1970", "perc_no_hs_2019"

In [9]:
subset = raw[[
    "FIPS Code", 
    "State", 
    "Area name", 
    'Percent of adults with less than a high school diploma, 1970',
    "Percent of adults with less than a high school diploma, 2015-19"
    ]].rename(columns = {
    "FIPS Code" : "fips", 
    "State" : "state", 
    "Area name" : "county",
    'Percent of adults with less than a high school diploma, 1970' : "perc_no_hs_1970",
    "Percent of adults with less than a high school diploma, 2015-19" : "perc_no_hs_2019"
})
subset.head()

   fips state          county  perc_no_hs_1970  perc_no_hs_2019
0     0    US   United States             47.7             12.0
1  1000    AL         Alabama             58.7             13.8
2  1001    AL  Autauga County             54.8             11.5
3  1003    AL  Baldwin County             59.4              9.2
4  1005    AL  Barbour County             68.8             26.8

In [10]:
subset.to_csv('data/perc_no_hs_2019.csv', index=False)